#form-numbers {
	width: 200px;
	margin: 0 auto;
	text-align: center;

}

#form-numbers > div {
	padding: 10px 20px;

}

#form-numbers hr, input[type=text] {
	width: 80px;
	font-size: 36px;
	text-align: center;
	vertical-align: middle;
}

#form-numbers button {
	width: 200px;
	font-size: 30px;
	margin-top: 30px;
}

#new-input {
	width: 200px;
	margin: 0 auto;
	text-align: center;

}

#new-input input[type=text] {
	display: block;
	margin: 10px 20px;
	width: 80px;
	font-size: 36px;
	text-align: center;
	vertical-align: middle;
}

.product {
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}